.card-section>h2 {
    color: white;
    text-align: center;
}

.card-container {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
    justify-items: center;
}