.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-body {
    background-color: #ED1D24;
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
}