header>h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 15px;
}

footer>a {
    color: white;
    text-align: center;
}

.error {
    display: block;
    width: 60%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin: 100px auto;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

.button-container, .search-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}