header>h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

footer {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    padding: 15px;
}

footer>a {
    color: white;
    text-align: center;
}